* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: blueviolet;
    padding: 20px;
}

main {
    background-color: aliceblue;
    height: 400px;
    max-width: 800px;
    border-radius: 5px;
}

